name: Telegram Notifications

on: [push]

jobs:
  notify:

    runs-on: ubuntu-latest

    steps:
    - name: Set BRANCH variable
      run: echo "${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV
    - name: Send notifications to Telegram
      run: curl -s -X POST https://api.telegram.org/bot5954860043:AAE_3WJgDxYUGZb8A5-Kmsycsj6cWFc2ytw/sendMessage -d chat_id=-849254269 -d text="${MESSAGE}" >> /dev/null
      env:
        MESSAGE: "Se ha realizado un nuevo push, el commit es XXX ${{ github.event.head_commit.url }} --- ${{ github.event.head_commit }}."
